<div class="container">
    <h1 id="title" class="text-center mt-5">Book Bean</h1>
    <p class="text-center">Search for a Favorite Book and We'll recommend a coffee to enjoy as you read!</p>
    <div class="row">
        <div id="input" class="input-group mx-auto col-lg-6 col-md-8 col-sm-12">
            <input id="search-box" type="text" class="form-control" placeholder="Search Books!..">
            <button id="search" class="btn btn-primary" onclick="">Submit</button>
        </div>
    </div>
</div>
<div class="book-list">
    <h2 class="text-center">Search Results</h2>
    <div id="list-output">
        <div class="row"></div>
    </div>
</div>