<main>

  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Search</h1>
        <p class="lead text-muted">Search for a book below.</p>
        <p>
        <form method="POST" action="/books/results">
          <input type="text" id="search" name="search" placeholder="Search Books!..">
          <button id="search" type="submit" class="btn btn-primary" onclick="">Submit</button>
        </form>
        </p>
      </div>
    </div>
  </section>


</main>