<div class="col-sm-4 offset-md-1 py-4">
    <h4 class="text-black">This is not the page you are looking for!</h4>
    <ul class="list-unstyled">
        <% if (!currentUser) {%>
            <li><a href="/auth/signup">Signup</a></li>
            <li><a href="/auth/login">Login</a></li>
            <% } else { %>
                <li><a href="/auth/logout">Logout</a></li>
                <li><a href="/profile">Profile</a></li>
                <li><a href="/books">Search Books</a></li>
                <% } %>
                    <img src="/assets/img/icons8-coffee-24.png" alt="bookbean icon">
    </ul>
</div>