<div class="container">
    <h1 id="title" class="text-center mt-5">Book Bean</h1>
    <p class="text-center">Search for a Favorite Book and We'll recommend a coffee to enjoy as you read! Login or signup to find the perfect java for your favorite genre.</p>
    <div class="button">
        
    </div>
</div>
