

<h3 class="text-center">Welcome to your profile, <%= name %></h3>
<h5 class="text-center">(<%= email %>)</h5>

<br>
<div class="booklist">
    <h2 class="text-center">Your Bookshelf</h2>
    Placeholder
    <div id="list-output">
        <div class="row"></div>
    </div>
</div>
